html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 3s ease-in all;
}

header {
  display: flex;
  width: 400px;
  margin: auto;
  align-items: center;
  flex-direction: column;
  /* box-shadow: 1px 1px 2px; */
}

.list li:nth-child(even) {
  background-color: #f5f5f5;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: "JasmineUPC";
  font-size: 35px;
  font-weight: bolder;
}

.list li {
  text-align: center;
  list-style: none;
  width: 200px;
  margin: auto;
  padding: 10px;
}

button {
  color: white;
  background-color: rgb(230, 53, 53);
  border: 0.5px solid red;
  border-radius: 3px;
  padding: 3px 7px;
  margin: auto 5px;
  float: right;
  cursor: pointer;
}

.addfriend {
  margin: 10px;
  list-style: none;
  text-align: center;
  padding: 10px;
}

#addbtn {
  background-color: rgb(37, 201, 37);
  border-color: green;
  float: none;
}

.addfriend input {
  border: none;
  border-bottom: 2px solid rgb(48, 48, 56);
}

.addfriend input:focus {
  border-color: rgb(52, 52, 158);
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  .list li {
    width: 90%;
  }
  .addfriend {
    padding: 0;
    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .addfriend input {
    width: 70%;
  }
  .addfriend li {
    width: 100%;
  }
  article {
    box-shadow: 0 0 5px;
  }
  footer {
    background-color: grey;
    display: flex;
    justify-content: space-around;
  }

  footer img {
    padding: 10px;
    filter: invert(1);
    width: 30px;
  }

  footer img:hover {
    filter: invert(0);
  }
}
